In [16]:
import pandas as pd
import numpy as np


df = pd.read_csv('supermercado.csv', index_col=0)

In [17]:
df.head()

          feijão  arroz  carne  farinha  dist
rebouças     3.4   2.80   20.9      4.2     2
cidade       3.2   3.60   16.8      3.7     6
queiroz      3.8   3.83   23.8      2.3     7

In [20]:
df.loc["rebouças"][:-1]

feijão      3.4
arroz       2.8
carne      20.9
farinha     4.2
Name: rebouças, dtype: float64

 # 01.Qual o custo de deslocamento para cada supermercado?

In [24]:
custo_deslocamento = 2.8

df ['dist']* custo_deslocamento

rebouças     5.6
cidade      16.8
queiroz     19.6
Name: dist, dtype: float64

# 02.Quanto custa comprar a quantidade indicada na lista em cada supermercado?

In [37]:
lista = pd.DataFrame(data={"feijão":[8], "arroz":[15],"carne":[9],"farinha":[20]})
lista.head()

df.loc["rebouças"][:4] * lista

   arroz  carne  dist  farinha  feijão
0   42.0  188.1   NaN     84.0    27.2

In [39]:
df.loc["queiroz"][:4] * lista

   feijão  arroz  carne  farinha
0    30.4  57.45  214.2     46.0

In [40]:
df.loc["cidade"][:4] * lista

   feijão  arroz  carne  farinha
0    25.6   54.0  151.2     74.0

# 03.Quanto custa o valor da feira em cada supermercado?

In [46]:
a=df.loc["rebouças"][:4] * lista
print(a[:].sum(axis=1))

0    341.3
dtype: float64

In [47]:
a=df.loc["cidade"][:4] * lista
print(a[:].sum(axis=1))

0    304.8
dtype: float64

In [48]:
a=df.loc["queiroz"][:4] * lista
print(a[:].sum(axis=1))

0    348.05
dtype: float64

# 04. Quanto custa fazer a feira em cada supermercado?

{'rebouças': 352.5, 'cidade': 344.0, 'queiroz': 381.65}